<ion-content  padding>
    
  <ion-img
    class="image1 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.top.px]="image1?.top"
    [style.left.px]="image1?.left"
  ></ion-img>

  <ion-img
    class="image2 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.top.px]="image2?.top"
    [style.left.px]="image2?.left"
  ></ion-img>

  <ion-img
    class="image3 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.top.px]="image3?.top"
    [style.left.px]="image3?.left"
  ></ion-img>

  <ion-img
    class="image4 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.top.px]="image4?.top"
    [style.left.px]="image4?.left"
  ></ion-img>

  <ion-button
    color="primary"
    expand="full"
    fill="outline"
    (click)="takePhoto()"
    >Add New Logo</ion-button>
</ion-content>