<ion-content  padding>
    
  <ion-img
    class="image1 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
  ></ion-img>

  <ion-img
    class="image2 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
  ></ion-img>

  <ion-img
    class="image3 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
  ></ion-img>

  <ion-img
    class="image4 image"
    [src]="image"
    [style.width.px]="size"
    [style.height.px]="size"
  ></ion-img>

</ion-content>