ion-thumbnail {
    width: 100%;
    height: 80%;
}

.image {
    position: absolute;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.image1 {
    top: 25%;
    left: 50%;
}

.image2 {
    top: 75%;
    left: 50%;
}

.image3 {
    top: 50%;
    left: 25%;
}

.image4 {
    top: 50%;
    left: 75%;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

ion-content{
    --ion-background-color: gray;
}